<div id="login-form" class="animated bounceInLeft">
  <div  class=" form-signin ">
    <div class="text-center mb-4">
      <img class="animated bounce infinite delay-3s mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal" style="color: hotpink;">Developer Dating!</h1>
      <p>Build for dating website<code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p>
    </div>

    <div class="form-label-group">
      <input type="email" [(ngModel)]="registerUserData.email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputEmail">Email address</label>
    </div>

    <div class="form-label-group">
      <input type="password" [(ngModel)]="registerUserData.password" name="password"  id="inputPassword"  class="form-control" placeholder="Password" required>
      <label for="inputPassword">Password</label>
    </div>
    <div class="control_height">
      <div>Join us now!</div>
    </div>
    <button  id="login_button" class="btn btn-lg btn-primary btn-block " type="submit" (click)="registerUser(registerUserData.email,registerUserData.password)">Register</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
  </div>
</div>
