<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #F1948A;">
  <a class="navbar-brand" href="#">Dating</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<!-- Navigation Bar -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/members" routerLinkActive="active">Members</a>
      </li>
      <li>
        <a class="nav-link" *ngIf="_authService.loggedIn()" routerLink="/chatroom" routerLinkActive="active">Chatroom</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <!-- Hidden in login state -->
      <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
      <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/register" routerLinkActive="active">Register</a>
      <!-- Hidden in non-login state -->
      <a class="nav-link" *ngIf="_authService.loggedIn()" routerLink="/userInfo" routerLinkActive="active">Hi
        {{userInfoData.firstName}}</a>
      <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</a>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>