<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let event of events">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">{{event.name}}</h5>
        <p class="card-text">{{event.description}}</p>
        <p class="card-text">Number of members: {{event.amount}}</p>
        <p class="card-text">Members: {{event.members}}</p>
        <p class="card-text">Date: {{event.date}}</p>
        <p class="card-text">Time: {{event.time}}</p>
        <p class="card-text">Location: {{event.location}}</p>
      </div>
      <div class="card-footer text-muted">
        <button *ngIf="!event.members.includes(userInfoData.firstName)" (click)="join(event._id,userInfoData.firstName)"
          id="join" class="btn btn-lg btn-primary btn-block" type="submit">Join</button>
        <button *ngIf="event.members.includes(userInfoData.firstName)" (click)="quit(event._id,userInfoData.firstName)"
          id="quit" class="btn btn-lg btn-primary btn-block " type="submit">Quit</button>
      </div>
    </div>
  </div>
</div>