<div class="row mt-5">
  <!--Display the events with *ngFor-->
  <div class="col-md-4 mb-3" *ngFor="let event of events">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">{{event.name}}</h5>
        <p class="card-text">{{event.description}}</p>
        <p class="card-text">Number of members: {{event.amount}}</p>
        <p class="card-text">Members: {{event.members}}</p>
        <p class="card-text">Date: {{event.date}}</p>
        <p class="card-text">Time: {{event.time}}</p>
        <p class="card-text">Location: {{event.location}}</p>
      </div>
      <div class="card-footer text-muted">
        <!--show quit button if the userID exists in the membersID list, join button if not, pass the event id, user name and userID to join function, pass event id and userID to quit function-->
        <button *ngIf="!event.membersID.includes(userInfoData.userId)" (click)="join(event._id,userInfoData.firstName,userInfoData.userId)"
          id="join" class="btn btn-lg btn-primary btn-block" type="submit">Join</button>
        <button *ngIf="event.membersID.includes(userInfoData.userId)" (click)="quit(event._id,userInfoData.userId)"
          id="quit" class="btn btn-lg btn-success btn-block " type="submit">Quit</button>
      </div>
    </div>
  </div>
</div>
