<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let event of events">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">{{event.name}}</h5>
        <p class="card-text">{{event._id}}</p>
        <p class="card-text">{{event.description}}</p>
        <p class="card-text">{{event.amount}}</p>
        <p class="card-text">{{event.members}}</p>
        <p class="card-text">{{event.date}}</p>
        <p class="card-text">{{event.time}}</p>

      </div>
      <div class="card-footer text-muted">
        <button *ngIf="!event.members.includes(user)" (click)="join(event._id)" id="join" class="btn btn-lg btn-primary btn-block" type="submit" >Join</button>
        <button *ngIf="event.members.includes(user)" (click)="quit(event._id)" id="quit" class="btn btn-lg btn-primary btn-block " type="submit">Quit</button>
      </div>
    </div>
  </div>
</div>
