<footer class="section footer-classic context-dark bg-image" style="background: #ff97d5;">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
                <p>This project sets up a website for programmers to make friends.</p>
                <br><br><br><br>
                <p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>Waves</span><span>. </span><span>All Rights Reserved.</span></p>
              </div>
            </div>
            <div class="col-md-4">
              <h5>Contacts</h5>
              <dl class="contact-list">
                <dt>Address:</dt>
                <dd><a href="https://maps.google.com/maps?q=15 Broadway, Ultimo NSW 2007" target="_blank">15 Broadway, Ultimo NSW 2007</a></dd>
              </dl>
              <dl class="contact-list">
                <dt>email:</dt>
                <dd><a href="mailto:#">dating@dating.com</a></dd>
              </dl>
              <dl class="contact-list">
                <dt>phones:</dt>
                <dd><a href="tel:#">+86 5009168403</a> <span>or</span> <a href="tel:#">+86 4342333524</a>
                </dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3">
              <h5>Links</h5>
              <ul class="nav-list">
                <li><a>About</a></li>
                <li><a href="https://github.com/fredli53016/dating-website" target="_blank">Project</a></li>
                <li><a>Blog</a></li>
                <li><a>Contacts</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>